<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
</head>
<body>
  <h1>Connectez-vous</h1>
    
        <form action="/login" method="post">
            <label for="email">Ton adresse mail</label>
            <input type="text" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <button type="submit">Se connecter</button>
        </form>
        <p>Pas encore de compte ? <a href="/register"> S'enregistrer</a></p> 
</body>
</html>