{% include 'partials/header.html.twig' %}

{% if sessionSuccess %}
<div class="alert alert-success mt-3 col-6">
    {{sessionSuccess ~ firstname}}
</div>
{% endif %}
<h1>Bienvenue sur votre dashboard</h1>